body{
	font-family: 'Titillium Web', sans-serif;
	background: #1c1c1c;
}


/* ======================= ESTILO HEADER ================================*/
#head{
	width: 100%;
	height: 280px;
	position: relative;
}

#logo{
	margin: auto;
	text-align: center;
	padding: 60px 0px;
}

#logo img{
	width: 60%;
	max-width: 350px;
}

.tabs{
	margin: auto;
	width: 900px;
	max-width: 900px;
}

.tabs dd{
	margin: 5px 10px;
	float: none;
	display: inline-block;
	width: 200px;
	background: transparent;

}
.tabs dd a{
	padding: 2px;
	background: transparent;
	text-align: left;
	font-family: 'axisbold';
	color: #fff;
}

.tabs dd a:hover{
	background: transparent;
	font-family: 'axisbold';
	color: #fff;
}

.tabs dd.active a{
	background: transparent;
	font-family: 'axisbold';
	color: #fff;
}

/* ======================= ESTILO HEADER ================================*/

/* ======================= ESTILO BODY ================================*/
#info{
	width: 100%;
	position: relative;
	height: 600px;
	background: red;
}


.wrapper{
	width: 1000px;
	margin: auto;
}

.tabs-content{
	position: relative;
	height: 100%;
	width: 100%;
}

.content{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 ! important;
}
/* ++++++++++++ CONTACTO +++++++++++ */
#contacto-cont{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff !important;
}
/* ++++++++++++ CONTACTO +++++++++++ */


/* ======================= ESTILO BODY ================================*/

/* ======================= ESTILO FOOTER ================================*/
footer{
	width: 100%;
	height: 200px;
}
.bold{
	font-family: 'titilliumbold';
	color: #fff;
	font-size: 16px;
}

.text_block{
	display: inline-block;
	width: 300px;
}

.text_block p{
	font-family: 'titilliumregular';
	color: #fff;
	font-size: 16px;
}


/* ======================= ESTILO FOOTER ================================*/





