body{
	font-family: 'Titillium Web', sans-serif !important;
	background: #1c1c1c;
}

/* ======================= ESTILO HEADER ================================*/

#abre-menu{
	position: absolute;
	display: inline-block;
	right: 100px;
	top: 23px;
}

#open{
	color: #fff;
	font-size: 18px;
}
#close{
	color: #fff;
	display: none;
	font-size: 18px;
}

#head{
	width: 100%;
	height: 70px;
	position: relative;
}

#logo{
	margin: auto;
	text-align: left;
	padding: 20px 30px;
}

#logo img{
	width: 30%;
	max-width: 150px;
}

#menu{
	position: absolute;
	top: 70px;
	width: 100%;
	background: rgba(28,28,28,0.7);
	z-index: 999;
	padding: 0px 0px;
	height: 0px;
	overflow: hidden;
}

.tabs{
	margin: auto;
	width: 1200px;
	max-width: 1200px;
	padding-top: 10px;
}

.tabs dd{
	margin: 5px 65px;
	float: none;
	display: inline-block;
	width: 160px;
	background: transparent;

}
.tabs dd a{
	padding: 2px;
	background: transparent;
	text-align: left;
	font-family: 'axisbold';
	color: #fff;
	font-size: 18px; 
}



.active a:focus{
	background: transparent ! important;
	
}


/* ======================= ESTILO HEADER ================================*/

/* ======================= ESTILO BODY ================================*/

/* +++++++++++++++++++ LightBox y Slider Estilo +++++++++++++++++++++++ */

.proyect_content{
	width: 1000px;
	margin: auto;
	padding:50px 0px;
	background: transparent;
	position: relative;
}

.proyect_gallery{
	width: 700px;
	display: inline-block;
	background: transparent;
	position: relative;
}

.proyect_gallery ul{
	list-style: none;
}

.proyect_gallery ul li{
	margin-bottom: 20px;
	text-align: center;
	border-bottom: solid #999 2px;
}

.proyect_gallery img{
	margin-bottom: 20px;
}

.proyect_description{
	width: 300px;
	display: inline-block;
	background: transparent;
	position: fixed;
	top: 60px;
	padding: 20px 35px;
	height: 100%;
	overflow-x:hidden;
	overflow-y:scroll;  
}

.proyect_description h1{
	color:#fff;
	font-family: 'axisbold';
	font-size: 18px;
}

.proyect_description p{
	color: #fff;
	font-family: 'Titillium Web', sans-serif !important;
	font-size: 12px;
	text-align: justify;
	line-height: 25px;
}
/* +++++++++++++++++++ LightBox y Slider Estilo +++++++++++++++++++++++ */

#info{
	width: 100%;
	position: relative;
	height: 700px;
	background: #1c1c1c;
	overflow-y:scroll;
}


.wrapper{
	width: 1000px;
	margin: auto;
	padding-bottom:100px; 
}

.tabs-content{
	position: relative;
	height: 100%;
	width: 100%;
}

.content{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 ! important;
	background: #1c1c1c !important;
}

/* ++++++++++++ BRANDING ++++++++++++ */
.branding_proyecto{
	display: inline-block;
	width: 215px;
	height: 215px;
	position: relative;
	margin: 55px 50px;
	cursor: pointer;
}

.branding_info_proyecto h1{
	color: #ffffff !important;
	font-family: 'titilliumbold' !important;
	font-size: 14px !important;
	text-align: left !important;
	margin: 0 !important;
	padding-bottom: 0px !important;
}

.branding_info_proyecto p{
	color: #ffffff !important;
	font-size: 12px !important;
	text-align: left !important;
	margin: 0 !important;
	font-family: 'titilliumregular' !important;
}

.branding_project{
	position: relative;
	top: 0px;
	background: red;
}

.branding_proyecto img{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.branding_proyecto img:hover{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(0%);
	-moz-filter:grayscale(0%);
	-o-filter:grayscale(0%);
	filter:grayscale(0%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/* ++++++++++++ BRANDING ++++++++++++ */

/* ++++++++++++ WEB ++++++++++++ */

.no-border{
	border-bottom: none !important;
}

.proyect_gallery a{
	color:#fff;
	font-size: 18px;
}

/* ++++++++++++ WEB ++++++++++++ */

/* ++++++++++++ INTERACTIVOS ++++++++++++ */

.interactivos_proyecto{
	display: inline-block;
	width: 215px;
	height: 215px;
	position: relative;
	margin: 50px 50px;
	cursor: pointer;
}

.interactivos_info_proyecto h1{
	color: #ffffff !important;
	font-family: 'titilliumbold' !important;
	font-size: 14px !important;
	text-align: left !important;
	margin: 0 !important;
	padding-bottom: 0px !important;
}

.interactivos_info_proyecto p{
	color: #ffffff !important;
	font-size: 12px !important;
	text-align: left !important;
	margin: 0 !important;
	font-family: 'titilliumregular' !important;
}

.intercativos_project{
	position: relative;
	top: 0px;
	background: red;
}

.interactivos_proyecto img{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.interactivos_proyecto img:hover{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(0%);
	-moz-filter:grayscale(0%);
	-o-filter:grayscale(0%);
	filter:grayscale(0%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* ++++++++++++ INTERACTIVOS ++++++++++++ */

/* ++++++++++++ AUDIOVISUAL +++++++++++ */

.black_layer{
	width: 100%;
	height: 1280px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	z-index: 3;
}

.video_player{
	position: relative;
	top: -290px;

}
.video_container{
	width: 100%;
	height: 720px;
	position: relative;
	overflow-y: hidden;
}

.video_description{
	display: inline-block;
	width: 600px;
	height: 800px;
	position: absolute;
	right: 0px;
	padding:250px 120px;
}

.video_description h1{
	color: #fff;
	font-family: 'axisbold';
	font-size: 50px;
}

.video_description p{
	color: #fff;
	font-family: 'titilliumregular' !important;
	font-size: 16px;
	line-height: 5px;
}

.video_description a{
	color: #fff;
	font-family: 'titilliumregular' !important;
}

/* ++++++++++++ AUDIOVISUAL +++++++++++ */


/* ++++++++++++ NOSOTROS ++++++++++++ */
#nosotros_info{
	margin: auto;
	position: relative;
	width: 600px;
	top: 250px;
	padding: 15px 15px 15px 15px;
}

#nosotros_info p{
	color: #fff;
	font-family: 'titilliumregular' !important;
	text-align: left;
}
/* ++++++++++++ NOSOTROS ++++++++++++ */

/* ++++++++++++ CONTACTO +++++++++++ */
#contacto-cont{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 200px;
}

#map {
    width: 600px;
    height: 300px;
}

.izquierda{
	position: relative;
	width: 45%;
	height: 100%;
	display: inline-block;
	margin-right: 50px;
	padding: 0;
}

.izquierda form{
	position: relative;
	margin: 0 auto;
	width: 500px;
	max-width:600px;
	max-height: 600px;
	min-width:400px;
	min-height: 400px ;
	text-align: center;
}

.datos{
	width: 210px !important;
	height: 40px !important;
	background: #1c1c1c !important;
	display: inline-block !important;
	margin: 15px 5px !important;
}

.mensaje{
	width: 435px !important;
	height: 200px !important;
	background: #1c1c1c !important;
	display: inline-block !important;
	margin: 0 15px !important;
}

.enviar{
	width: 150px !important;
	height: 40px !important;
	margin: 15px 15px !important;
	padding: 5px 10px;
	background: transparent;
	border: 1px solid;
	color: white;
	font-family: 'Titillium Web', sans-serif !important;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.derecha{
	position: relative;
	width: 45%;
	height: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

/* ++++++++++++ CONTACTO +++++++++++ */


/* ======================= ESTILO BODY ================================*/

/* ======================= ESTILO FOOTER ================================*/
footer{
	width: 100%;
	height: 190px;
	padding: 5px 5px;
	position: fixed;
	bottom: 0px;
	background: #1c1c1c;
}
.bold{
	font-family: 'titilliumbold';
	color: #fff;
	font-size: 16px;
}

.text_block{
	display: inline-block;
	width: 290px;
	padding: 10px 50px;
	position: relative;
	top: 20px;
	left: 200px;
	border-bottom: solid #fff 1px;
	margin: -2px;
}

.text_block p{
	font-family: 'titilliumregular';
	color: #fff;
	font-size: 16px;
	line-height: 5px;
}
.right_border{
	border-right: solid #fff 1px;
}

.text_block_down{
	width: 800px;
	position: relative;
	top: 40px;
	padding: 5px 295px;
	left: 80px;
}

.text_block_down a{
	color: #fff;
	text-decoration: none;
	font-family: 'titilliumregular';
	display: inline-block;
}

/* ======================= ESTILO FOOTER ================================*/

/* ======================== RESPONSIVE ================================ */

@media only screen and (max-width : 980px) {
	.wrapper{
		width: 650px;
		padding-bottom: 200px;
	}

	.text_block_down{
	width: 800px;
	position: relative;
	top: 40px;
	padding: 5px 130px;
	left: 60px;
	}

	.text_block{
	display: inline-block;
	width: 290px;
	padding: 10px 50px;
	position: relative;
	top: 20px;
	left: 20px;
	border-bottom: solid #fff 1px;
	margin: -2px;
	}

	.video_description{
	display: inline-block;
	width: 400px;
	height: 800px;
	position: absolute;
	right: 0px;
	padding:200px 80px;
	}

	.tabs{
		margin: auto;
		width: 600px;
		max-width: 600px;
		padding-top: 10px;
	}

	#menu{
	position: absolute;
	top: 70px;
	width: 100%;
	background: rgba(28,28,28,0.7);
	z-index: 999;
	padding: 0px 0px;
	height: 0px;
	overflow: hidden;
	}

	.tabs{
		margin: auto;
		width: 800px;
		max-width: 800px;
		padding-top: 10px;
	}

	.tabs dd{
		margin: 5px 18px;
		float: none;
		display: inline-block;
		width: 160px;
		background: transparent;

	}
	.tabs dd a{
		padding: 40px;
		background: transparent;
		text-align: left;
		font-family: 'axisbold';
		color: #fff;
		font-size: 15px; 
	}

	.proyect_description{
	width: 300px;
	display: inline-block;
	background: transparent;
	position: fixed;
	top: 60px;
	right: -12px;
	padding: 20px 40px;
	height: 100%;
	overflow-x:hidden;
	overflow-y:scroll;  
	}

	#nosotros_info{
	margin: auto;
	position: relative;
	width: 600px;
	top: 100px;
	padding: 15px 15px 15px 15px;
	}

}

@media only screen and (max-width : 1024px) {
	.wrapper{
		width: 980px;
		padding-bottom: 200px;
	}

	.text_block_down{
	width: 800px;
	position: relative;
	top: 40px;
	padding: 5px 130px;
	left: 270px;
	}

	.text_block{
	display: inline-block;
	width: 290px;
	padding: 10px 50px;
	position: relative;
	top: 20px;
	left: 220px;
	border-bottom: solid #fff 1px;
	margin: -2px;
	}

	.video_description{
	display: inline-block;
	width: 400px;
	height: 800px;
	position: absolute;
	right: 0px;
	padding:200px 80px;
	}

	

	#menu{
	position: absolute;
	top: 70px;
	width: 100%;
	background: rgba(28,28,28,0.7);
	z-index: 999;
	padding: 0px 0px;
	height: 0px;
	overflow: hidden;
	}

	.tabs{
		margin: auto;
		width: 200px;
		max-width: 200px;
		padding-top: 10px;
	}

	.tabs dd{
		margin: 25px 18px;
		float: none;
		display: inline-block;
		width: 160px;
		background: transparent;

	}
	.tabs dd a{
		padding: 40px;
		background: transparent;
		text-align: left;
		font-family: 'axisbold';
		color: #fff;
		font-size: 15px; 
	}

	.proyect_description{
	width: 300px;
	display: inline-block;
	background: transparent;
	position: fixed;
	top: 60px;
	right: -12px;
	padding: 20px 40px;
	height: 100%;
	overflow-x:hidden;
	overflow-y:scroll;  
	}

	#nosotros_info{
	margin: auto;
	position: relative;
	width: 600px;
	top: 100px;
	padding: 15px 15px 15px 15px;
	}

}

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait){
	
	.wrapper{
		width: 300px;
		padding-bottom: 200px;
	}

	.text_block_down{
	width: 300px;
	position: relative;
	top: 40px;
	padding: 5px 130px;
	left: 270px;
	}

	.text_block{
	display: inline-block;
	width: 140px;
	padding: 0px 15px;
	position: relative;
	top: 20px;
	left: 22px;
	border-bottom: solid #fff 1px;
	margin: -2px;
	}

	.text_block p{
	font-family: 'titilliumregular';
	color: #fff;
	font-size: 14px;
	line-height: 15px;
	}

	#menu{
	position: absolute;
	top: 70px;
	width: 100%;
	background: rgba(28,28,28,0.7);
	z-index: 999;
	padding: 0px 0px;
	height: 0px;
	overflow: hidden;
	}

	.tabs{
		margin: auto;
		width: 200px;
		max-width: 200px;
		padding-top: 20px;
	}

	.tabs dd{
		margin: 20px 20px;
		float: none;
		display: inline-block;
		width: 160px;
		background: transparent;

	}
	.tabs dd a{
		padding: 40px;
		background: transparent;
		text-align: left;
		font-family: 'axisbold';
		color: #fff;
		font-size: 15px; 
	}

}



