body{
	font-family: 'Titillium Web', sans-serif;
	background: #1c1c1c;
}

/* ======================= ESTILO HEADER ================================*/
#head{
	width: 100%;
	height: 280px;
	position: relative;
}

#logo{
	margin: auto;
	text-align: center;
	padding: 60px 0px;
}

#logo img{
	width: 60%;
	max-width: 350px;
}

.tabs{
	margin: auto;
	width: 1200px;
	max-width: 1200px;
	border-bottom: solid #fff 1px;
	padding-bottom: 10px;
}

.tabs dd{
	margin: 5px 65px;
	float: none;
	display: inline-block;
	width: 160px;
	background: transparent;

}
.tabs dd a{
	padding: 2px;
	background: transparent;
	text-align: left;
	font-family: 'axisbold';
	color: #fff;
	font-size: 18px; 
}

.tabs dd a:hover{
	background: transparent;
	font-family: 'axisbold';
	color: #fff;
}

.tabs dd.active a{
	background: transparent;
	font-family: 'axisbold';
	color: #fff;
}

/* ======================= ESTILO HEADER ================================*/

/* ======================= ESTILO BODY ================================*/

/* +++++++++++++++++++ LightBox y Slider Estilo +++++++++++++++++++++++ */

.galeria_inner_info{
	position: absolute;
	bottom: 0;
	left: 50px;
	width: 350px;
	height: 300px;
	background:rgba(0,0,0,0.4);
	z-index: 99;
	padding: 0px 15px;
}

.contra{
	width: 1280px !important;
}

/* +++++++++++++++++++ LightBox y Slider Estilo +++++++++++++++++++++++ */

#info{
	width: 100%;
	position: relative;
	height: 600px;
	background: red;
	overflow-y:scroll; 
}


.wrapper{
	width: 1000px;
	margin: auto;
}

.tabs-content{
	position: relative;
	height: 100%;
	width: 100%;
}

.content{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 ! important;
	background: #1c1c1c !important;
}

/* ++++++++++++ BRANDING ++++++++++++ */
.branding_proyecto{
	display: inline-block;
	width: 215px;
	height: 215px;
	position: relative;
	margin: 50px 50px;
	cursor: pointer;
}

.branding_info_proyecto h1{
	color: #ffffff !important;
	font-family: 'titilliumbold' !important;
	font-size: 14px !important;
	text-align: left !important;
	margin: 0 !important;
	padding-bottom: 0px !important;
}

.branding_info_proyecto p{
	color: #ffffff !important;
	font-size: 12px !important;
	text-align: left !important;
	margin: 0 !important;
	font-family: 'titilliumregular' !important;
}

.branding_project{
	position: relative;
	top: 0px;
	background: red;
}

.branding_proyecto img{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.branding_proyecto img:hover{
	width: 100%;
	height:100%;
	-webkit-filter:grayscale(0%);
	-moz-filter:grayscale(0%);
	-o-filter:grayscale(0%);
	filter:grayscale(0%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/* ++++++++++++ BRANDING ++++++++++++ */

/* ++++++++++++ CONTACTO +++++++++++ */
#contacto-cont{
	position: relative;
	width: 100%;
	height: 100%;
}
.izquierda{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.derecha{
	position: relative;
	width: 50%;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0;
}

.derecha form{
	position: relative;
	margin: auto;
	width: 60%;
	max-width:600px;
	max-height: 600px;
	min-width:400px;
	min-height: 400px ;
}

.datos{
	width: 100px;
	height: 40px;
	background: #c1c1c1;
}

/* ++++++++++++ CONTACTO +++++++++++ */


/* ======================= ESTILO BODY ================================*/

/* ======================= ESTILO FOOTER ================================*/
footer{
	width: 100%;
	height: 250px;
	padding: 50px 5px;

}
.bold{
	font-family: 'titilliumbold';
	color: #fff;
	font-size: 16px;
}

.text_block{
	display: inline-block;
	width: 290px;
	padding: 10px 50px;
	position: relative;
	top: 20px;
	left: 200px;
	border-bottom: solid #fff 1px;
}

.text_block p{
	font-family: 'titilliumregular';
	color: #fff;
	font-size: 16px;
	line-height: 5px;
}
.right_border{
	border-right: solid #fff 1px;
}

.text_block_down{
	width: 800px;
	position: relative;
	top: 40px;
	padding: 5px 295px;
	left: 80px;
}

.text_block_down a{
	color: #fff;
	text-decoration: none;
	font-family: 'titilliumregular';
	display: inline-block;
}

/* ======================= ESTILO FOOTER ================================*/




